
#getflixKnapp {
  color: red;
  font-family: Impact, Charcoal, sans-serif;
  font-weight: lighter;
  font-size: 200%;
  text-shadow: 2px 2px 1px blacK;
}

.glyphicon {
  margin-right: 10px;
}

.container {
  margin: 0 2% 5% 2%;
}

#faq {
  background-color: #555555;
  box-shadow: 0 0 250px 50px #555555;
  padding: 3% 0 3% 0;
}

#gruppe {
  border: 1px solid black;
}

#sak {
  position: relative;
  margin-top: 1%;
  padding: 2%;
}

#bold {
  font-weight: bold;
  font-size: 17px;
  border-bottom: 1px solid black;
}

#tekstInnhold {
  font-weight: 700;
}

#melding {
  position: relative;
  background: #66b0c4;
  border-radius: .4em;
  padding: 2% 5% 2% 5%;
}

  #melding:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-right-color: #66b0c4;
    border-left: 0;
    margin-top: -7px;
    margin-left: -7px;
  }

#svar {
  position: relative;
  background: #cc3b3b;
  border-radius: .4em;
  padding: 2% 5% 2% 5%;
}

  #svar:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-left-color: #cc3b3b;
    border-right: 0;
    margin-top: -7px;
    margin-right: -7px;
  }

ul {
  list-style-type: none;
}

#tekstHeader {
  color: antiquewhite;
  margin-bottom: -2%;
}

#tekstOmrode {
  color: antiquewhite;
}

#omrode {
  margin: 5% 2% 0 2%;
  box-shadow: 0 0 250px 10px #858585;
  padding: 2% 2% 0 2%;
  border-radius: 10px;
}

#rating {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
  border: 1px solid transparent;
  border-radius: 4px;
}

#endreKnapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

#reg {
  margin-top: 2%;
}
