
<div class="body-content">

  <!-- Her lastes faq visningen ved bolsk variabel visFaqs = sant -->
  <div class="col-sm-10 col-sm-offset-1" *ngIf="visFaqs" id="faq">
    <div class="row" id="filterKnapper">
      <button class="btn" [class.klikket]="klikketStatus == 'Alle'" (click)="visAlle()">Vis alle</button>
      <button class="btn" [class.klikket]="klikketStatus == 'Betaling'" (click)="visBetaling()">Vis 'Betaling'</button>
      <button class="btn" [class.klikket]="klikketStatus == 'Teknisk'" (click)="visTeknisk()">Vis 'Teknisk'</button>
      <button class="btn" [class.klikket]="klikketStatus == 'Annet'" (click)="visAnnet()">Vis 'Annet'</button>
    </div>
    <div *ngIf="laster" class="spinner"><!-- lasteanimasjon hentet fra SpinnerKit, aktiveres når vi henter data fra DB -->
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
    <h1 class="text-center" id="tekstHeader">Ofte stilte spørsmål</h1>
    <ul *ngFor="let omr of omrode" id="omrode">
      <li *ngIf="klikketStatus==omr || klikketStatus=='Alle'">
        <h3 class="text-center" id="tekstOmrode">Spørsmål om: {{omr}}</h3>
        <ul *ngFor="let henvendelse of alleFaqs">
          <li *ngIf="omr == henvendelse.omrode">
            <div id="sak">
              <div id="">
                <p id="rating">{{henvendelse.rating}}</p>
                <button class="btn btn-success" (click)='rateOpp(henvendelse.id)'><span class="glyphicon glyphicon-thumbs-up"></span>Relevant</button>
                <button class="btn btn-danger" (click)='rateNed(henvendelse.id)'><span class="glyphicon glyphicon-thumbs-down"></span>Ikke relevant</button>
              </div>
              <div id="melding" class="">
                <p class="text-center" id="bold">{{henvendelse.navn}} spør:</p><p id="tekstInnhold">{{henvendelse.melding}}</p>
              </div>
              <div *ngIf="henvendelse.svar" class="" id="svar">
                <p class="text-center" id="bold">Svar:</p><p id="tekstInnhold">{{henvendelse.svar}}</p>
              </div>
              <div id="svarKnapper">
                <button *ngIf="!henvendelse.svar" class="btn btn-info" (click)='lageSvar(henvendelse.id)'><span class="glyphicon glyphicon-comment"></span>Svar</button>
                <button *ngIf="henvendelse.svar" class="btn btn-info" id="svarKnapp" (click)='lageSvar(henvendelse.id)'><span class="glyphicon glyphicon-edit"></span>Rediger svar</button>
              </div>
            </div>
          </li>
        </ul>
      </li>
    </ul>
    <button class="btn btn-primary col-md-4 col-md-offset-4" id="reg" (click)='registrerFaq()'>Send inn spørsmål</button>
  </div>

  <!-- Her lastes ulike skjemaer basert på statusen til variabel av type string: skjemaStatus -->
  <div class="col-sm-10 col-sm-offset-1" *ngIf="visSkjema" [class.skjemaSvar]="skjemaStatus=='Svare'" [class.skjemaRate]="skjemaStatus=='RateOpp' || skjemaStatus=='RateNed'" [class.skjemaRegistrer]="skjemaStatus=='Registrere'">
    <h1 class="text-center" *ngIf="skjemaStatus=='Registrere'">Send inn spørsmål</h1>
    <h1 class="text-center" *ngIf="skjemaStatus=='Svare'">Send inn svar</h1>
    <h1 class="text-center" *ngIf="skjemaStatus=='RateOpp'">Var spørsmålet relevant?</h1>
    <h1 class="text-center" *ngIf="skjemaStatus=='RateNed'">Var ikke spørsmålet relevant?</h1>
    <form [formGroup]="skjema" (ngSubmit)="onSubmit()">
      <input class="form-control" formControlName="id" type="hidden" />
      <div class="form-group" [hidden]="skjemaStatus=='Svare' || skjemaStatus=='RateOpp' || skjemaStatus=='RateNed'">
        <label id="mLeft" for="navn">Navn</label>
        <input class="form-control" formControlName="navn" id="skjemaElement" placeholder="Navnet vises for alle (trenger ikke være ditt ekte navn)" required />
        <p id="skjemaElement" class="alert alert-warning" [hidden]="skjema.controls.navn.valid || (skjema.controls.navn.pristine && !submitted)">
          Navn kan ikke inneholde tall eller spesialtegn og må fylles inn.
        </p>
      </div>
      <div class="form-group" [hidden]="skjemaStatus=='Svare' || skjemaStatus=='RateOpp' || skjemaStatus=='RateNed'">
        <label id="mLeft" for="omrode">Område</label>
        <select class="form-control" id="skjemaElement" formControlName="omrode" required>
          <option *ngFor="let omr of omrode" [value]="omr">{{omr}}</option>
        </select>
      </div>
      <div class="form-group" [hidden]="skjemaStatus=='Svare' || skjemaStatus=='RateOpp' || skjemaStatus=='RateNed'">
        <label id="mLeft" for="melding">Melding</label>
        <textarea class="form-control" id="skjemaElement" formControlName="melding" rows="4" cols="50" required></textarea>
        <p id="skjemaElement" class="alert alert-warning" [hidden]="skjema.controls.melding.valid || (skjema.controls.melding.pristine && !submitted)">
          Må fylles inn.
        </p>
      </div>
      <div class="form-group" [hidden]="skjemaStatus=='Registrere' || skjemaStatus=='RateOpp' || skjemaStatus=='RateNed'">
        <label id="mLeft" for="svar">Svar</label>
        <textarea class="form-control" id="skjemaElement" formControlName="svar" rows="9" cols="50" placeholder="Sendes denne inn blankt vil svaret slettes/ ikke leveres"></textarea>
      </div>
      <div class="form-group">
        <input class="form-control" formControlName="rating" type="hidden" />
      </div>
      <div class="form-group">
        <button type="submit" id="mLeft" *ngIf="skjemaStatus=='Svare'" [disabled]="!skjema.valid" class="btn btn-primary">Send inn svar</button>
        <button type="submit" id="mLeft" *ngIf="skjemaStatus=='Registrere'" [disabled]="!skjema.valid" class="btn btn-primary">Send inn Spørsmål</button>
        <button type="submit" *ngIf="skjemaStatus=='RateOpp'" id="rateKnappOpp" class="btn btn-success"><span>JA!</span></button><br *ngIf="skjemaStatus=='RateOpp'"/>
        <button type="submit" *ngIf="skjemaStatus=='RateNed'" id="rateKnappNed" class="btn btn-danger"><span>NEI!</span></button><br *ngIf="skjemaStatus=='RateNed'"/>
        <button class="btn btn-default" (click)="tilbakeTilFaq()">Tilbake</button>
      </div>
    </form>
  </div>

</div>

  
