<div>
  <div class="col-md-6 col-md-offset-1" *ngIf="visFaqs">
    <h1 class="text-center">Ofte stilte spørsmål</h1>
    <div *ngIf="laster">Laster FAQ...</div>
    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th>Navn</th>
          <th>Område</th>
          <th>Melding</th>
          <th>Rating</th>
          <th colspan="2">Var dette relevant?</th>
        </tr>
      </thead>
      <tbody *ngFor="let henvendelse of alleFaqs">
        <tr>
          <td>{{henvendelse.navn}}</td>
          <td>{{henvendelse.omrode}}</td>
          <td>{{henvendelse.melding}}</td>
          <td>{{henvendelse.rating}}</td>
          <td><button class="btn btn-danger" (click)='nedRating(henvendelse.id)'><span class="glyphicon glyphicon glyphicon-thumbs-down"></span>NEI</button></td>
          <td><button class="btn btn-success" (click)='oppRating(henvendelse.id)'><span class="glyphicon glyphicon glyphicon-thumbs-up"></span>JA</button></td>
        </tr>
      </tbody>
    </table>
    <button class='btn btn-primary col-md-4 col-md-offset-4' (click)='registrerFaq()'>Send inn spørsmål</button>
  </div>
</div>

<div>
  <div class="col-md-6 col-md-offset-1" *ngIf="visSvar">
    <h1 class="text-center">Svar</h1>
    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th>Navn</th>
          <th>Svar</th>
          <th>Rating</th>
          <th colspan="2">Var dette relevant?</th>
        </tr>
      </thead>
      <tbody *ngFor="let henvendelse of alleFaqs">
        <tr>
          <td>{{henvendelse.navn}}</td>
          <td>{{henvendelse.omrode}}</td>
          <td>{{henvendelse.melding}}</td>
          <td>{{henvendelse.rating}}</td>
          <td><button class="btn btn-danger" (click)='nedRating(henvendelse.id)'><span class="glyphicon glyphicon glyphicon-thumbs-down"></span>NEI</button></td>
          <td><button class="btn btn-success" (click)='oppRating(henvendelse.id)'><span class="glyphicon glyphicon glyphicon-thumbs-up"></span>JA</button></td>
        </tr>
      </tbody>
    </table>
    <button class='btn btn-primary col-md-4 col-md-offset-4' (click)='registrerFaq()'>Send inn spørsmål</button>
  </div>
</div>

<div class="col-sm-4 col-sm-offset-2" *ngIf="visSkjema">
  <h1 class="text-center">Send inn spørsmål</h1>
  <form [formGroup]="skjema" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input class="form-control" formControlName="id" type="hidden" />
      <label for="navn">Navn</label>
      <input class="form-control" formControlName="navn" required />
      <p class="alert alert-warning" [hidden]="skjema.controls.navn.valid || (skjema.controls.fornavn.pristine && !submitted)">
        Navn kan ikke inneholde tall eller spesialtegn
      </p>
    </div>
    <div class="form-group">
      <label for="omrode">Område</label>
      <select class="form-control" formControlName="omrode" required >
        <option *ngFor="let omr of omrode" [value]="omr">{{omr}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="melding">Melding</label>
      <textarea class="form-control" formControlName="melding" rows="4" cols="50" required></textarea>
      <p class="alert alert-warning" [hidden]="skjema.controls.melding.valid || (skjema.controls.adresse.pristine && !submitted)">
        Må fylles inn
      </p>
    </div>
      <input class="form-control" formControlName="rating" type="hidden" />
    <div class="form-group">
      <button type="submit" *ngIf="skjemaStatus=='Endre'" [disabled]="!skjema.valid" class="btn btn-primary">Endre</button>
      <button type="submit" *ngIf="skjemaStatus=='Registrere'" [disabled]="!skjema.valid" class="btn btn-primary">Send inn Spørsmål</button>
      <button class="btn btn-default" (click)="tilbakeTilListe()">Tilbake</button>
    </div>
  </form>
</div>



